.card-body {
    padding: 0 1rem;
}

body {
    background: lightgray;
}
#dishes {
    .card {
        text-align: center;
    }
}
#recipe {
    .container{
        display: flex;
        flex-direction: column;
    }
    .row {
        border-bottom: 1px solid lightgrey;
    }
    .check,
    .play {
        font-size: 2rem;
    }
    .progressBar {
        border: 1px solid lightgrey;
        text-align: center;
    }
    #ingredients {
        .row {
            align-items: center;
            &.checked {
                order: 100;
                color: darkgray;
                .fa-square:before {
                    content: "\f14a"
                }
            }
        }
    }
    #instructions {
        .row {
            align-items: center;
            &.checked {
                color: darkgray;                
                .fa-square:before {
                    content: "\f14a"
                }
            }
        }
    }
}