body {
  background: #dddddd;
}

body .bold {
  font-weight: bold;
}

.card {
  background: none;
  border: 0;
}

.card:first-child .card-header {
  border-radius: 1rem 0 0 0;
}

.card:last-child .card-header {
  border-radius: 0 0 1rem 0;
}

.card .card-body {
  padding: 0 1rem;
  background: #ffffff;
}

.card .card-header {
  background: #457B9D;
  color: #ffffff;
  border: 0;
}

.card .card-header:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}

.row {
  flex-wrap: nowrap;
}

.row > div {
  padding: 0.5rem;
}

.row > div:nth-child(3) {
  margin-left: auto;
}

#dishes .card {
  text-align: center;
}

#recipe .container {
  display: flex;
  flex-direction: column;
}

#recipe .check,
#recipe .play {
  font-size: 1.5rem;
}

#recipe #description .row {
  padding: 1rem 0;
}

#recipe #ingredients .row {
  border-bottom: 1px solid #dddddd;
  align-items: center;
}

#recipe #ingredients .row.checked {
  order: 100;
  color: #dddddd;
}

#recipe #ingredients .row.checked .fa-square:before {
  content: "\f14a";
}

#recipe #instructions .row {
  border-bottom: 1px solid #dddddd;
  align-items: center;
}

#recipe #instructions .row.checked {
  color: #dddddd;
}

#recipe #instructions .row.checked .fa-square:before {
  content: "\f14a";
}

.progress {
  position: relative;
  width: 100%;
  background-color: #626868;
}

.progress .progressBar {
  width: 50%;
  background-color: #457B9D;
}

.progress .progressText {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

#timer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ffffff;
  font-size: 2rem;
  text-align: center;
  border: 1px solid #457B9D;
  border-width: 0 0 1px 1px;
}
