body {
  background: lightgray;
  color: blue;
}

#dishes .card {
  text-align: center;
}

#recipe .row {
  height: 3rem;
  border-top: 1px solid lightgrey;
}

#recipe .row:last-child {
  border-bottom: 1px solid lightgrey;
}

#recipe #ingredients .check {
  font-size: 2rem;
}

#recipe .play {
  font-size: 2rem;
}

#recipe .progressBar {
  border: 1px solid lightgrey;
  text-align: center;
}
